html {
  background-color: #e6d8fa;
}

body {
  text-align: center;
  margin: 0;
}

.menu {
  overflow: hidden;
  background-color: #d0b7f1;
}

.menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 185.45px;
  text-decoration: none;
  font-size: 15px;
}

.menu a:hover {
  background-color: #d7cdfe;
}

.indexh1 {
  font-family: Garamond (serif);
  font-size: 50px;
}

.indexh2 {
  font-family: Garamond (serif);
  font-size: 35px;
  text-align: center;
}

.indexp1heading {
  font-size: 25px;
  font-weight: bold;
}

.indexp1 {
  font-size: 25px;
  text-align: left;
  padding: 0px 15px 0px 0px;
}

ul {
  list-style-type: circle;
  font-size: 25px;
  text-align: left;
}

#art {
  height: 90%;
  weight: 100%;
  padding: 0px 10px 0px 0px;
}

.indexp2heading {
  font-size: 25px;
  font-weight: bold;
}

.indexp2 {
  font-size: 25px;
  text-align: left;
  padding: 0px 25px;
}

#music {
  height: 95%;
  width: 85%;
  padding: 0px 25px;
}

.indexp3heading {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.indexp3 {
  font-size: 25px;
  text-align: left;
  padding: 0px 50px;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
}

.flex-item1-left {
  flex: 75%;
}

.flex-item1-rigth {
  flex: 25%;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
}

.flex-item2-left {
  flex: 125%;
}

.flex-item2-rigth {
  flex: 10%;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
}

.flex-item3-left {
  flex: 0%;
}

.flex-item3-rigth {
  flex: 90%;
}

.aboutp1heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.aboutp1 {
  font-size: 25px;
  text-align: left;
  padding: 0px 50px;
}

#ArtandMusic {
  margin: 0px;
  padding: 0px 15px;
}

.contactusp1heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.contactusp1 {
  font-size: 25px;
  text-align: left;
  padding: 0px 50px;
}

.footer {
  overflow: hidden;
  background-color: #d0b7f1;
}

.footer a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 178.25px;
  text-decoration: none;
  font-size: 15px;
}

.footer a:hover {
  background-color: #d7cdfe;
}
